.container
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "a a" "b c";
    height: 100vh;
    width: 100%;
}

.head
{
    background: lightseagreen;
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left
{
    grid-area: b;
    background: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right
{
    background: lightgreen;
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: center;
}